<nav>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']"
       [routerLinkActiveOptions]="{exact:true}">HOME</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
    <a (click)="login()" *ngIf="!logged">LOGIN</a>
    <a (click)="logout()" *ngIf="logged">LOGOUT</a>
    <a> <img src="{{userPictureUrl}}" alt="User picture" *ngIf="userPictureUrl"> </a>
    <a> <span *ngIf="userName" class="pull-right">User name: {{userName}}</span></a>
</nav>

